.container{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-travel-around-the-world-travel-poster-template-image_140335.jpg');
    background-size:cover;
    height: 100vh;
    width: 100%;
}

.text{
    text-align: center;
    padding: 5px;
}

.heading{
    color: green;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 36px;
}

.button{
    border-width: 5px;
    border-radius: 20px;
    border-style: dashed;
    background-color: rgb(119, 250, 250);
}

.table,th,td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}